html{
    background-color: rgb(24, 7, 97);
}
header{
    border-radius: 1em;
    background-color: red;
    padding: 1px;
    margin-right: 0%;
}
h1{
    color: white;
    margin-left: 1%;
}
body{
    color: white;
}
a{
    color: rgb(52, 148, 238);
}
footer{
    background-color: grey;
    border-radius: 1em;
    padding: 2px;
}
span{
    color: rgb(238, 64, 238);
}
#sidebar{
    display: inline-block;
    height: 20%;
    width: 20%;
    border-radius: 1em;
    background-color: rgb(30, 31, 30);
    margin-top: 1%;
}
#container{
    background-color: rgb(30, 31, 30);
    display: inline-block;
    border-radius: 1em;
    width: 76.5%;
    vertical-align: top;
    margin: 1% 0% 1% 1%;
    padding: 1%;
}
#home{
    list-style-type: none;
    margin-left: -15px;
}
#pfoot{
    margin-left: 1%;
}
