*{
    margin: 10px;
    padding: 10px;
}
#wrapper{
    width: 1100px;
    background-color: silver;
    margin: 0px auto;
}
#header{
    min-height: 149px;
    background-color: green;
}
#navigation{
    min-height: 300px;
    width: 200px;
    background-color: blue;
    display: inline-block;
}
#main_content{
    min-height: 400px;
    width: 815px;
    background-color: red;
    display: inline-block;
    vertical-align: top;
}
.subcontents{
    min-height: 200px;
    width: 210px;
    background-color: yellow;
    display: inline-block;
    vertical-align: top;
}
#advertisement{
    min-height: 120px;
    width: 717px;
    background-color: purple;
    display: inside;
    
    ;
}