.barra{
    background-color: coral;
    overflow: hidden;
}

a{
    padding: 10px;
    text-align: center;
    color: white;
    display: block;
    float: left;
    text-decoration: none;
}
.columna{
    float: left;
    padding: 25px;
    width: 25%;
}

@media screen and (max-width: 900px){
    .columna{
        width: 50%;
    }
}

@media screen and (max-width: 600px){
    .columna{
        width: 100%;
    }
    .barra{
        float: left;
        width: 100%;
    }
}